[data-user-color-scheme='dark'] 
  .markdown-body 
    :not(pre) 
      & > code 
        background-color rgba(94,114,228,1) !important
        transition background-color 0.2s ease-in-out !important